In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("sample_data.csv", encoding="utf-8")

In [3]:
df

    A   B   C   D
0  90  71  43  47
1  56   0  77  37
2  99  81  92   5
3  54  95  84  92
4   7  45  84  32
5  43  55  71  29
6  33  27  55  47

In [4]:
def highlight_max(s):
    '''
    highlight the maximum in a Series yellow.
    '''
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

In [5]:
df.style.apply(highlight_max)

In [6]:
df.style.bar(subset=['A', 'B'], color='#d65f5f')

In [7]:
df

    A   B   C   D
0  90  71  43  47
1  56   0  77  37
2  99  81  92   5
3  54  95  84  92
4   7  45  84  32
5  43  55  71  29
6  33  27  55  47